header {z-index: 100;}
.navbar {background: none;}
.navbar .logo {margin: 0;}

ul.navigation li {background-color: none !important;}

ul.navigation.active {top: -18px !important;}

#logo {
	margin-top: -8px;
}

#block-views-intro-block-block {
	height: 100%;
}

#comments input {
	background: #eee;
  color: #1e1e1e;
  height: 56px;
  border: 0px;
  font-weight: 400;
  font-size: 18px;
}

.tweet_time {
	display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  word-spacing: .5px;
}

.tweet_text {
	font-size: 30px;
	color: #fff;
	line-height: 36px;
	margin: 8px 0px 30px 0px;
}